@model Book

@{
    ViewData["Title"] = "Book Details";
}

<div class="bg-secondary jumbotron">
    <div>Book Details</div>
</div>

<div class="container">
    <div class="row border-bottom">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <img src="~/Image/182950397_128495512669580_4940680657695438542_n.jpg" height="400px" width="100%" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="border-bottom mb-2">
                <span class="h4">@Model.Title</span>
                <span style="display: block">By <span class="text-info"> @Model.Author</span></span>
                <div class="mt-2 mb-1">@Model.Description</div>
                <a class="btn-sm btn btn-outline-info text-info mb-2">Read Now</a>
            </div>
            <div class="card" style="width: 100%;">
                <div class="card-header">
                    Featured
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Model.category</li>
                    <li class="list-group-item">@Model.language</li>
                    <li class="list-group-item">@Model.TotalPage</li>
                </ul>
            </div>
        </div>
    </div>
</div>